/* HEADER & NAV */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-fixed);
}
.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-bold);
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.nav__logo-img {
  width: 30px;
}
.nav__toggle,
.nav__close {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--title-color);
}

@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(var(--hue), 70%, 4%, 0.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 80%;
    height: 100%;
    padding: 7rem 3rem;
    transition: right 0.4s;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
.nav__link {
  position: relative;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}
.nav__link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--first-color-light);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: width 0.3s;
}
.nav__link:hover {
  color: var(--first-color-light);
}
.nav__link:hover::after {
  width: 30%;
}
.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Show Menu */
.show-menu {
  right: 0;
}
/* Add blur to header */
.blur-header::after {
  content: "";
  position: absolute;
  width: 1000%;
  height: 100%;
  background-color: hsla(var(--hue), 70%, 4%, 0.2);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  top: 0;
  left: 0;
  z-index: -1;
}
/* Active link */
.active-link {
  color: var(--first-color-light);
}
.active-link::after {
  width: 30%;
}

@media screen and (min-width: 768px) {
  .nav__menu {
    width: 50%;
  }
}

/* for large devices */
@media screen and (min-width: 1150px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .nav__menu {
    width: initial;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
    align-items: center;
  }
}

/* BREAKPOINTS */

/* For small devices */
@media screen and (max-width: 300px) {
  .container {
    margin-inline: 1rem;
  }
  .skills__content {
    grid-template-columns: repeat(2, max-content);
  }
}

/* For medium devices */
@media screen and (min-width: 540px) {
  .home__container,
  .project__container,
  .info__container,
  .services__container,
  .contact__container {
    grid-template-columns: 350px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .home__container {
    grid-template-columns: repeat(2, 350px);
  }
  .home__data {
    align-self: flex-end;
    padding-bottom: 3rem;
    order: -1;
  }
  .home__scroll {
    grid-column: 1/3;
  }
  .project__container {
    grid-template-columns: repeat(2, 390px);
  }
  .info__container {
    grid-template-columns: initial;
  }
  .about {
    grid-template-columns: repeat(2, 350px);
    align-items: center;
  }
  .about__content {
    order: 1;
  }
  .experience__data {
    grid-template-columns: repeat(2, 1fr);
  }
  .skills__content {
    grid-template-columns: repeat(5, max-content);
    justify-content: initial;
    column-gap: 4rem;
  }
  .services__container {
    grid-template-columns: repeat(2, 320px);
  }
}

/* for large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
  .section {
    padding-block: 7rem 5rem;
  }
  .section__title {
    margin-bottom: 4rem;
  }

  .home__container {
    grid-template-columns: 470px 350px;
    gap: 3rem 16rem;
  }
  .home__img {
    width: 350px;
  }
  .home__name {
    margin-bottom: 1.5rem;
  }
  .home__profession::after {
    bottom: -1rem;
    width: 35%;
  }
  .project__container {
    grid-template-columns: repeat(2, 540px);
    gap: 2.5rem;
  }
  .project__link {
    padding: 3rem 3rem 2rem;
  }
  .project__title {
    font-size: var(--h2-font-size);
    margin-bottom: 1rem;
  }
  .project__link i {
    font-size: 2rem;
  }

  .info__container {
    row-gap: 4rem;
  }
  .info__title {
    font-size: var(--normal-font-size);
    margin-bottom: 3.5rem;
  }
  .about {
    grid-template-columns: 380px 420px;
    column-gap: 11.5rem;
  }
  .about__img {
    width: 350px;
  }
  .about__button {
    width: initial;
  }
  .experience__content {
    row-gap: 4rem;
  }
  .experience__data {
    grid-template-columns: 380px 380px;
    column-gap: 11.5rem;
  }
  .experience__company {
    font-size: var(--h1-font-size);
  }
  .experience__profession {
    margin-bottom: 0.5rem;
  }
  .experience__date {
    font-size: var(--normal-font-size);
    margin-bottom: 1.5rem;
  }
  .skills__content {
    grid-template-columns: repeat(6, max-content);
  }
  .services__container {
    grid-template-columns: repeat(2, 350px);
    gap: 6rem 13rem;
  }
  .services__icon {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .contact__container {
    grid-template-columns: 580px;
  }
  .contact__group {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact__area {
    height: 15rem;
  }
  .contact__button {
    width: max-content;
    justify-self: center;
    margin-top: 1.5rem;
  }
  .contact__message {
    bottom: 4.5rem;
  }
  .contact__social {
    grid-template-columns: repeat(2, max-content);
    column-gap: 5rem;
  }
  .footer__container {
    padding-block: 3rem;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
  .footer__links {
    column-gap: 4rem;
    order: 1;
  }
  .scrollup {
    right: 3rem;
  }
}
