#theme-switch {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--first-color-light);
  display: flex;
  justify-content: center;
  align-items: center;
}
#theme-switch:hover {
  cursor: pointer;
}
#theme-switch i {
  fill: var(--body-color);
  color: var(--text-color);
}
